:root {
  --medium-grey: #666;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}
.App{
  max-width: 1200px;
  margin:0 auto;
}
.app__title {
  color: var(--medium-grey);
}

.main-container {
  display: flex;
}
.TypingContainer{
  /* max-width: 800px; */
  background: rgb(255, 249, 195);
  border-radius: 6px;
  border: 1px solid darkgray;
  height: 800px;
  position: relative;
  flex-basis: 78%;
}
.TypingArea {
  width: 90%;
  height: 90%;
  background: none;
  position: absolute;
  top:5%;
  left:5%;
  font-size: 1.3em;
  line-height: 1.2;
  box-shadow: 0px 0px 20px #4444;
  padding: 2rem;
}
textarea {
  padding: 0;
  color: transparent;
  padding: 2rem;
}
#background-text-display {
  color: var(--medium-grey);
}
.red {
  color: red;
  border-bottom: 2px dotted red;
}

.info-container{
  flex-basis: 22%;
  border-radius: 6px;
  padding: 2.5%; 
  color: var(--medium-grey);  
}
strong {
  color: black;
}

.button--start {
  border: 2px solid olive;
  padding: 2rem 3rem;
  background: none;
  font-size: 2rem;
  color: olive;
  margin: 2rem;
  cursor: pointer;
  position: absolute;
  left: 2rem;
  top: 2rem;
}
.flashing {
  color: green;
  text-decoration: underline;
  animation: flash 1s infinite;
}
.error-chars-container {
  max-height: 300px;
  overflow-y: scroll;
}

.align-right{
  text-align: right;
}


@keyframes flash {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 700px){
  .main-container {
    flex-direction: column;
  }
}