:root {
  --medium-grey: #666;
  --jazzy-shadows: 2px 2px orange, -2px -2px cyan;
  --jazzy-shadows--inverse: -3px -3px orange, 3px 3px cyan;
}
*{
  box-sizing: border-box;
}
h1, h1, h3, h4, h5 {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}
.App{
  max-width: 1200px;
  margin:0 auto;
}
.app__title {
  color: var(--medium-grey);
  margin: 1rem 0;
}

.main-container {
  display: flex;
}
.container__left{
  position: relative;
  flex-basis: 78%;
}
.TypingContainer{
  background: cornsilk;
  border-radius: 6px;
  border: 1px solid darkgray;
  height: 800px;
  position: relative;
}
.TypingArea {
  width: 90%;
  height: 90%;
  background: none;
  position: absolute;
  top:5%;
  left:5%;
  font-size: 1.3em;
  line-height: 1.2;
  box-shadow: 0px 0px 20px #4444;
  padding: 2rem;
}
textarea {
  padding: 0;
  color: transparent;
  padding: 2rem;
}
#background-text-display {
  color: var(--medium-grey);
  background: #FFF8;  
}
.red {
  color: red;
  border-bottom: 2px dotted red;
}

.info-container{
  flex-basis: 22%;
  border-radius: 6px;
  padding: 2.5%; 
  color: var(--medium-grey);
}
strong {
  color: black;
}
.summary-container {
  position: absolute;
  background: #ffefbb;
  padding: 2rem;
  width: 50%;
  left: 25%;
  top: 5%;
  height: 90%;
  border: 8px solid darkorchid;
  overflow-y: auto;
  box-shadow: 0 0 40px 0px;
}

.button {
  border: 2px solid fuchsia;
  padding: 2rem 3rem;
  background: none;
  font-size: 2rem;
  margin: 2rem;
  cursor: pointer;
  left: 2rem;
  top: 2rem;
  text-shadow: var(--jazzy-shadows);
  box-shadow: var(--jazzy-shadows);
  transition: all 0.3s;
}
.button--start {
  position: absolute;
}
.button--reset {
  border: 2px solid red;
}
.button:hover {
  text-shadow: var(--jazzy-shadows--inverse);
  box-shadow: var(--jazzy-shadows--inverse);
}
.flashing {
  color: green;
  text-decoration: underline;
  animation: flash 1s infinite;
}
.finished .flashing {
  color: none;
  animation: none;
}
.error-chars-container {
  max-height: 300px;
  overflow-y: auto;
  column-count: 2;
}
.summary-container .error-chars-container {
  max-height: 150px;
}
ul {
  list-style: none;
}

.align-right{
  text-align: right;
}

.small {
  font-size: 90%;
}
.x-small {
  font-size: 70%;
}

@keyframes flash {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 700px){
  .main-container {
    flex-direction: column;
  }
}